@import "tailwindcss";
@import "@nuxt/ui";

body {
    font-family: 'Poppins', sans-serif;
}

/* Classes personnalisées */
.section-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--ui-text);
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--ui-text);
    padding-bottom: 0.5rem;
}